* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(45, 45, 51);
  display: flex;
  padding-left: 15%;
  padding-right: 15%;
}

.home {
  padding: 8px;
  border: none;
  border: black right 3px;
  ;
  width: 104px;
  border-right: 1px solid #000000;
  background: #333;
  color: #ccc;
  text-align: center;
  padding-top: 15px;
  font: 13px/1.4 Inter, sans-serif;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-variant-position: normal;
  font-weight: normal;
  font-stretch: normal;
  font-family: Inter, sans-serif;
}

#logout {
  padding: 10px;
  /* background-color: rgb(45, 45, 51); */
  border: none;
  border: black right 3px;
  ;
  width: 104px;
  /* border-right: 1px solid #000000; */
  background: #ffffff;
  color: #161414;
  font-size: 12px;
}

#change-password {
  padding: 10px;
  /* background-color: rgb(45, 45, 51); */
  border: none;
  border: black right 3px;
  ;
  width: 104px;
  /* border-right: 1px solid #000000; */
  background: #ffffff;
  font-size: 12px;
  color: #161414;
}

#change-password:hover {
  background-color: rgb(197, 196, 196);
}

#logout:hover {
  background-color: rgb(197, 196, 196);
}

#imageindex {
  border-radius: 50%;
  ;
  border: 1px solid #a1a1a1;
  height: 30px;
  width: 30px;
  margin: 7px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 5px;
  text-align: center;
  background-color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #fff;
}

#welcome-text {
  color: #161414;
}

.parent {
  position: relative;
}

.input {
  outline: none;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  padding: 5px 10px;
  width: 240px;
}

/* .input::placeholder {
  color: green;
} */

/* .parent.active .input {
  width: 200px;
} */

/* .btn {
  width: 40px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 100px;
  border: none;
  background: green;
  display: inline;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
} */

.fa-solid {
  color: #ffffff;
}